header {
    background: #e0e0e0;
    padding: 15px;
}
.main-container{
    padding: 0 35px;
}
.sidebar{
    background: #343433;
}

.gray-bg{
    background: #eeeeee;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.modal{
    background: rgba(0, 0, 0, 0.53);
}
.grid-space{
    padding: 10px 0;
}
.item.list-group-item{
    padding: 0;
}

.glyphicon { margin-right:5px; }

.thumbnail
{
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transition: initial;
}
.sidebar{
    color: #fff;
}
.toolTip-show, .arrow-left{
    display: none;
}
.tt-btn:hover + .toolTip-show{
    display: block;
}

.tt-btn:hover + .arrow-left{
    display: block;
}
.media.user-details {
    margin-top: 20px;
}

p.toolTip-show {
    position: absolute;
    right: -135px;
    top: 17px;
    background: #EEEEEE;
    padding: 10px;
    border: 1px solid black;
    z-index: 99;
    color: black;
    cursor: pointer;
    border-radius: 6px;
}
.grid-group-item .caption{
    border:1px solid #666666;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}
.grid-group-item .list-group-item-heading{
    font-weight: bold;
}

.grid-group-item .table-row{
    display: none;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.list-group-item .thumbnail:nth-child(even) {
    background: #f2f2f2;
}
.thumbnail strong{
    display: none;
}
.thumbnail-grid {
    padding-right: 0;
}
.thumbnail-grid strong{
    display: block;
    font-weight: bold;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0;
}
.item.list-group-item .caption
{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
}
.list-group-item{
    border: none;
}
.list-group-item .list-text-block{
    flex-grow: 1;
    overflow: hidden;
    width: 45px;
    padding-right: 20px;
}

.header.caption > .list-text-block{
    font-weight: bold;
}

.list-group-item  .list-date{
    width: 50px;
}
.table-row.header.caption {
    background: #666;
    color: #fff;
    padding: 9px 5px 3px 5px;
}

.list-group-item .list-group-item-heading{
    width: 350px;
}

p.list-status.list-text-block {
    margin-right: 20px;
}

.list-group-item .list-group-item-id{
    width: 10px !important;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

/*Status Color*/

.list-group-item .draft-color {
    background: #666666;
    height: 29px;
    border-radius: 17px;
    color: white;
    line-height: 28px;
    text-indent: 25px;
}
.list-group-item .published-color{
    background: #298372;
    height: 29px;
    border-radius: 17px;
    color: white;
    line-height: 28px;
    text-indent: 8px;
}

.list-group-item .routed-color{
    background: #3a6bb4;
    height: 29px;
    border-radius: 17px;
    color: white;
    line-height: 28px;
    text-indent: 20px;
}

.list-group-item .work-color{
    background: #666666;
    height: 29px;
    border-radius: 17px;
    color: white;
    line-height: 28px;
    text-indent: 25px;
}

.list-group-item .assigned-color{
    background: #3a6bb4;
    height: 29px;
    border-radius: 17px;
    color: white;
    line-height: 28px;
    text-indent: 15px;
}

/*Media Queries*/

@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
    .row-eq-height {
        display: block;
    }
    .sidebar {
        color: #fff;
        padding-bottom: 30px;
    }
    .user-details .media-right{
        vertical-align: middle;
    }
    .thumbnail strong {
        display: block;
    }
    .table-row.header.caption {
        display: none;
    }
}